<h1>Your Entries</h1>

<table>
<tr>
<th>Activity</th>
<th>Hours</th>
<th>Minutes</th>
<th>Date</th>
<th></th>
</tr>
<% @entries && @entries.each do |entry| %>
 <tr>
 <td><%=entry.activity.label%></td>
  <td><%=entry.hours%></td>
   <td><%=entry.minutes%></td>
   <td><%=entry.date%></td>
   <td><%= link_to 'Delete', entry, :method => :delete %></td>
 </tr>
<%end%>
</table>
